body {
  margin-top: 70px;
}
nav.navbar {
  background-color: #e9ecf4;
}
.login-form {
  padding: 10px;
  width: 200px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  margin: 0 0 5px;
}
.login-form .form-group {
  margin: 0;
}
.login-form label {
  font-weight: normal;
}
.banner {
  text-align: center;
}
.banner h1 {
  color: #576582;
}
.banner .phone-icon:first-child {
  margin-right: 15px;
}
.banner .phone-icon:last-child {
  margin-left: 15px;
}
